<%- include('header') %>
<div class="container">
    <div class="row content">
        <div class="col-md-8 center mx-auto">
           <form action="/" method="POST" class="form">
               <input type="text" class="form-control" placeholder="enter the word" name="word">
               <div class="col text-center mx-auto" id="button">
                   <button class="btn btn-primary">Search</button>
               </div>
           </form>
            
        </div>
    </div>
</div>
<%- include('footer') %>  